<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>

<body class="mt-5">
  <div class="container">
    <div class="row">
      <div class="col-12 card">
        <h5 class="mt-5">Lista de Alunos</h5>
        <h4>Agenda</h4>
        <table class="table table-striped mt-5">
          <thead>
            <tr>
              <th *ngFor="let head of headElements" scope="col">{{head}} </th>
            </tr>
          </thead>
          <tbody>
            <tr mdbTableCol *ngFor="let el of elements">
              <td scope="row">{{el.nome}}</td>
              <th>{{el.ru}}</th>
              <td>{{el.curso}}</td>
              <td>{{el.data}}</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>

</body>

</html>
